body{
    max-height: 1200px;
    background-color: #f9f9ff;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    
}
@media (max-width: 900px) {
    .header{
        justify-content: center;
    }
}
@media (max-width: 1380px) {
    .header{
        justify-content: center;
    }
}
.burger{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    width: 40px;
    height: 25px;
    visibility: hidden;
    &_line{

        height: 3px;
        width: 40px;
        background-color: #292D32;
        position: absolute;
        top: 0px;
    }
    &_line::after{
        position: absolute;
        top: 10px;
        content: "";
        height: 3px;
        width: 40px;
        background-color: #292D32;
    }
    &_line::before{
        position: absolute;
        top: 20px;
        content: "";
        height: 3px;
        width: 40px;
        background-color: #292D32;
    }
}
.burger:active .burger_line::before{
    background-color: #1075f1;
}
.burger:active .burger_line::after{
    background-color: #1075f1;
}
.burger:active .burger_line{
    background-color: #1075f1;
}

.menu{
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.753);
    max-width: 306px;
    height: 1198px;
    background-color: white;
    padding-top: 36px;
    left: 0px;
 

    &_logo{
    width: 212px;
    height: 39px;
    display: flex;
    align-items: center;
    margin: 0px 60px 0 29px;

        &_name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.01em;
            color: #000000;
            margin: 0 0 0 8px;
        }

        &_version{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.01em;
        color: #838383;
        }
            
    }

    &_button{
        transition: all 0.15s;
        min-height: 344px;
        min-width: 271px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0px 28px 0 28px;
        margin-top: 32px;

        &_block{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
            border: none;
            background-color: white;
            min-height: 46px;
            width: 250px;
            border-radius: 8px;
            margin-top: 19px;
            cursor: pointer;
            padding: 13px 13px 13px 13px;

            &_logo{
                filter: grayscale(100%);
            }
            &_name{
                display: flex;
                align-items: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #9197B3;
                width: 78px;
                margin: 0 100px 0 16px;
                
            }
            &_forvard{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #9197B3;
            }
        }
        &_block:hover{
            transition: all 0.15s;
            background: #5932EA;
        }
        &_block:hover .menu_button_block_name{
            transition: all 0.15s;
            color: #FFFFFF;
        }
        &_block:hover .menu_button_block_forvard{
            transition: all 0.15s;
            color: #FFFFFF;
        }
        &_block:hover .menu_button_block_logo{
            transition: all 0.15s;
            filter: brightness(1.7);
        }
        &_block:hover #Customers{
            transition: all 0.15s;
            filter: brightness(1.7);
        }
    }

    &_account{
        margin-top:620px;
        margin-bottom: 76px;
        padding: 0 123px 0 28px;

        &_block{
            display: flex;
            &_employee{
                min-width: 143px;
                margin-left: 12px;
                &_name{
                    &_text{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0.01em;
                        color: #000000;
                    }
                }
                &_status{
                    &_text{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0.01em;
                        color: #757575;
                    }
                }
            }
        }
    }

}
.burger:hover .customers{
    margin-left: 0px;
}
@media (max-width: 1612px) {
    .carousel{

        &-control-prev{
            &-icon{
                filter: contrast();
            }
        }

        
    }

}
@media (max-width: 1380px) {
    .menu{
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    .menu_button_block_logo{
        visibility: hidden;
    }
     .burger{
        visibility:visible;
        transition: all 2s;
    }
}

.carousel{
    &-control-prev{
        &-icon{
            background-color: #00B087;
            filter: brightness(1.7);
        }
    }

   
}
.carousel-control-next-icon{
    background-color: #00B087;
}

#Customers{
    filter: brightness(0.6);
}

.customers{
    

    &_hello{
        height: 128px;
        max-width:1198px;
        display: flex;
        align-items: center;
        padding: 0 0 0 71px;

        &_name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;       
            color: #000000;
        }

    }

    &_block{
        height: 812px;
        width: 100%;
        background-color: white;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.753);
        border-radius: 30px;
        border-radius: 40px 40px 30px 30px;
        margin-left: 71px;
        
        &_head{
            justify-content: space-between;
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 115px;
            max-width:1198px;
            background-color: white;
            padding: 0 29px 0 38px;
            border-radius: 30px 30px 0 0;


            &_search{
                background: #F9FBFF;
                height: 38px;
                width: 216px;
                border-radius: 10px;
                border: none;
                background-image: url(../image/Search.png);
                background-position: 1% 46%;
                padding: 2px 0 0 28px;
                background-repeat: no-repeat;
                background-size: auto;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.01em;
                color: #B5B7C0;

            }

            &_all{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                
                &_actmembers{
                    border: 1px solid;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    cursor: pointer;

                    &_name{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: -0.01em;
                        color: #16C098;
                    }
                }

                &_name{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: -0.01em;
                    color: #000000;
                    margin-left: 6px;
                }
                
        
            }
        }

        &_info{
        display: flex;
        padding: 0 36px 0 41px;

        &_section{

            
            &_status{
                width: 80px;
                height: 29px;

                &_text{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 80px;
                    height: 29px;

                }

                #statusButtonActive{
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #008767;
                }

                #statusButtonInactive{
                    background: #FFC5C5;
                    border: 1px solid #DF0404;
                    border-radius: 4px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #DF0404;
                }
            }
            &_filter{
                height: 28px;

                &_names{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: -0.01em;
                    color: #B5B7C0;
                    width: 100%;

                }

            }
            // &_filter::before{
                
            //     content: "";
            //     width: 968px;
            //     height: 0.5px;
            //     border-bottom: solid #EEEEEE;
            //     border-width: 1px 1px 1px 1px;
            //     position: absolute;
            //     top: 278px;
            //     left: 377px;
            // }
            // @media (max-width: 1612px) {
            //     &_filter::before{
            //         transition: all 0.15s;
            //         position: absolute;
            //         left: 72px;
                    
            //     }
            // }
            // @media (max-width: 900px) {
            //     &_filter::before{
            //         transition: all 0.15s;
            //         position: absolute;
            //         left: 6px;
            //         width: 370px;
            //     }
            // }
        }       
        &_section_name{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            margin-right: 111px;
            width: 100%;
        }
        &_section_company{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            margin-right: 61px;
            width: 100%;
        }
        &_section_number{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            margin-right: 120px;
            width: 100%;
        }
        &_section_emal{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            width: 204px;
            
        }
        &_section_country{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            width: 100%;
            margin-right: 67px;
        }
        &_section_status{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #EEEEEE;
            height: 69px;
            justify-content: center;
            width: 100%;
        }
        #statusSection{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        &_section_text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.01em;
            color: #292D32;

        }

        }
       
        &_data{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 891px;
        height: 105px;
        padding: 0 36px 0 41px;
        justify-content: space-between;

        &_pages{
            display: flex;
            justify-content: space-around;
            width: 269px;
            
            &_allin{
                display: flex;
                align-items: flex-end;
            }

            &_button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 24px;
                background: #F5F5F5;
                border: 1px solid #EEEEEE;
                border-radius: 4px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                color: #404B52;
                cursor: pointer;
            }
            &_button:hover{
                transition: all 0.15s;
                background: #5932EA;
                
            }
            &_button:hover .customers_block_data_pages_button_text{
                transition: all 0.15s;
                color: white;
                
            }
        }

        &_info{

            &_text{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #B5B7C0;
                
            }
        }
        
        }

       
    } 

    @media (max-width: 900px) {
        .header{
            justify-content: center;
        }

        &_block{
            width: 367px;
            margin: 0;

            &_head{
                padding: 0 9px 0 11px;

                &_search{
                    width: 141px;
                }
            }

            &_data{
                width: 367px;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
    @media (max-width: 1380px) {
        &_block{
            margin: 0;
        }
    }

}
@media (max-width: 1380px) {
    .customers{
        
        &_hello{
            padding: 0;
        }
    }
}